@page
@model IndexModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using Microsoft.AspNetCore.Identity
@using CRAJ.Web.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home page";
}

<header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center justify-content-between ">

        <div class="logo">
            <h1>CRAJ</h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">@localizer["Home"]</a></li>
                <li><a class="nav-link scrollto" href="#about">@localizer["APropos"]</a></li>
                <li><a class="nav-link scrollto" href="#services">@localizer["Services"]</a></li>
                <li><a class="nav-link scrollto" href="#team">@localizer["Roles"]</a></li>
                <li><a class="nav-link scrollto" href="#contact">@localizer["Contact"]</a></li>
                <li>
                    <partial name="_Culture" />
                </li>
                <li><a asp-page="Login">@localizer["Login"]</a></li>

                <li><a asp-page="Register">Inscription</a></li>

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header>
<!-- End Header -->
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.png);">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h4 class="animate__animated animate__fadeInDown">
                                @localizer["RADP"]<br />
                                @localizer["MinistèreJustice"]
                            </h4>
                            <h2 class="animate__animated animate__fadeInDown">@localizer["Welcome"]</h2>
                            <h3 class="animate__animated animate__fadeInDown">@localizer["CRAJ"]</h3>
                            <p class="animate__animated animate__fadeInUp">@localizer["Intro"]</p>
                            <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">@localizer["ReadMore"]</a>

                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.png);">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h4 class="animate__animated animate__fadeInDown">
                                @localizer["RADP"]<br />
                                @localizer["MinistèreJustice"]
                            </h4>
                            <h2 class="animate__animated animate__fadeInDown">@localizer["Welcome"]</h2>
                            <h3 class="animate__animated animate__fadeInDown">@localizer["CRAJ"]</h3>
                            <p class="animate__animated animate__fadeInUp">@localizer["Intro"]</p>
                            <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">@localizer["ReadMore"]</a>

                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.png);">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h4 class="animate__animated animate__fadeInDown">
                                @localizer["RADP"]<br />
                                @localizer["MinistèreJustice"]
                            </h4>
                            <h2 class="animate__animated animate__fadeInDown">@localizer["Welcome"]</h2>
                            <h3 class="animate__animated animate__fadeInDown">@localizer["CRAJ"]</h3>
                            <p class="animate__animated animate__fadeInUp">@localizer["Intro"]</p>
                            <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">@localizer["ReadMore"]</a>
                        </div>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-double-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-double-right" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</section>
<!-- End Hero -->

<main id="main">
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>@localizer["APropos"]</h2>
                <p>
                    @localizer["AProposTexte"]
                </p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <img src="assets/img/about-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>@localizer["ObjectifArchive"]</h3>
                    <p class="fst-italic">
                        @localizer["ObjectifArchiveTexte"]
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> @localizer["ObjectifArchivePoint1"]</li>
                        <li><i class="bi bi-check-circle"></i>@localizer["ObjectifArchivePoint2"]</li>
                        <li><i class="bi bi-check-circle"></i>@localizer["ObjectifArchivePoint3"]</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>

    <section id="services" class="services section-bg">
        <div class="container">

            <div class="section-title">
                <h2>@localizer["Services"]</h2>
                <p>@localizer["ServicesText"]</p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="icon-box">
                        <i class="bi bi-search"></i>
                        <h4><a href="#">@localizer["ServicePoint1"]</a></h4>
                        <p>@localizer["ServicePoint1Text"]</p>
                    </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                    <div class="icon-box">
                        <i class="bi bi-card-checklist"></i>
                        <h4><a href="#">@localizer["ServicePoint2"]</a></h4>
                        <p>@localizer["ServicePoint2Text"]</p>
                    </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                    <div class="icon-box">
                        <i class="bi bi-bar-chart"></i>
                        <h4><a href="#">@localizer["ServicePoint3"]</a></h4>
                        <p>@localizer["ServicePoint3Text"]</p>
                    </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                    <div class="icon-box">
                        <i class="bi bi-sort-numeric-up-alt"></i>
                        <h4><a href="#">@localizer["ServicePoint4"]</a></h4>
                        <p>@localizer["ServicePoint4Text"]</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="team" class="team">
        <div class="container">

            <div class="section-title">
                <h2>@localizer["Roles"]</h2>
                <p>@localizer["RoleTexte"]</p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/team/team-1.png" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>@localizer["Role1Name"]</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/team/team-2.png" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>@localizer["Role2Name"]</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/team/team-3.png" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>@localizer["Role3Name"]</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/team/team-4.png" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>@localizer["Role4Name"]</h4>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section id="contact" class="contact section-bg">
        <div class="container">

            <div class="section-title">
                <h2>@localizer["Contact"]</h2>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="info-box mb-4">
                        <i class="bx bx-map"></i>
                        <h3>@localizer["OurAdresse"]</h3>
                        <p>@localizer["Adresse"]</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-envelope"></i>
                        <h3>@localizer["EmailUs"]</h3>
                        <p>@localizer["Email"]</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-phone-call"></i>
                        <h3>@localizer["CallUs"]</h3>
                        <p>@localizer["Number"]</p>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-lg-6 ">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3853.7365213069356!2d6.581549217732825!3d36.256992345484875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12f17183712bbc39%3A0x2fe8a52c3eb339ec!2sCentre%20r%C3%A9gional%20des%20archives%20judiciaires%20de%20constantine!5e0!3m2!1sfr!2sbg!4v1653135348986!5m2!1sfr!2sbg"
                            frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
                </div>

                <div class="col-lg-6">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder=@localizer["YourName"] required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder=@localizer["YourLastName"] required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder=@localizer["IdDocuement"] required>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">@localizer["Research"]</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section>
</main>
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Alstar</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/alstar-free-parallax-bootstrap-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </div>
</footer>


