@page
@model CRAJ.Web.Pages.Account.ProfilModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Pages/Shared/_Account.cshtml";
}

<div class="border p-3 mt-4">
    <div class="row pb-2">
        <h2 class="text-primary pl-3">Profile</h2>
        <hr />
    </div>

    <div class="row">
        <div class="mb-2 col-6">
            <label>Username / اسم المستخدم </label>
            <label class="form-control font-weight-bold">@User.Identity.Name</label>
        </div>
        <div class="mb-2 col-6">
            <label>Role / الدور : </label>
            <label class="form-control font-weight-bold">
                @User.Claims.FirstOrDefault(x => x.Type.Equals("http://schemas.microsoft.com/ws/2008/06/identity/claims/role", StringComparison.OrdinalIgnoreCase))?.Value
            </label>
        </div>
    </div>


    <div class="row">
        @if (@User.Claims.FirstOrDefault(x => x.Type.Equals("http://schemas.microsoft.com/ws/2008/06/identity/claims/role",
  StringComparison.OrdinalIgnoreCase))?.Value == "Archiviste Tribunal - الأرشيفي على مستوى المحكمة" ||
  @User.Claims.FirstOrDefault(x => x.Type.Equals("http://schemas.microsoft.com/ws/2008/06/identity/claims/role",
  StringComparison.OrdinalIgnoreCase))?.Value == "Procureur de la République - وكيل الجمهورية")
        {
            <div class="mb-2 col-6">
                <label>Tribunal / محكمة</label>
                <label class="form-control font-weight-bold">@Model.User1.Tribunal.Name</label>
            </div>
        }
    </div>
</div>



